body {
/*     background-image: url("file:///D:/Works/Thoughts%20from%20somewhere/Pics/Used/simon-berger-twukN12EN7c-unsplash.jpg");*/
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: auto;
    background-color: #ffffff;
    
}

#All {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    opacity: 0.5;
}

a {
    text-decoration: none;
}

.dTopRow {
    padding: 20px 0;
    background-color: rgb(15, 33, 62);
    opacity: 0.7;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    color: white;
    text-shadow: none;
} :hover {
    text-shadow: 0 0 20px white;
}

#Controls {
    text-align: center;
}


#Main {
    text-align: left;
    margin: 20x 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(12, 12, 12);
}

.dButton {
    background-color: rgb(244, 244, 244);
    color: black;
    font-weight: 600;
    padding: 7px 19px;
    border-width: 1px;
    border-color: rgb(222, 222, 222);
    border-radius: 10px;
    border-style: solid;
}

.dButton:hover {
    background-color: rgb(28, 28, 28);
    /* border-color: rgb(244, 244, 244); */
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.274);
}

#chapTitle {
    margin: 40px 0;
    text-align: left;
}


@media screen and (max-width: 576px) {
    
    .dButton {
        margin-top: 10px;
        /* padding: 5px 5px; */
        font-size: 1em;
    }

    h1 {
        font-size: 2.5em;
    }
    
    #Main .col-sm {
        margin-bottom: 30px;
    }

}
